# -------------------------
# DATABASE
# -------------------------
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME_TOO
MYSQL_DATABASE=panel
MYSQL_USER=pterodactyl

# -------------------------
# PANEL
# -------------------------
APP_URL=http://example.com
APP_TIMEZONE=UTC
APP_SERVICE_AUTHOR=noreply@example.com
DB_USERNAME=pterodactyl
DB_PASSWORD=CHANGE_ME

# -------------------------
# MAIL
# -------------------------
MAIL_FROM=noreply@example.com
MAIL_DRIVER=smtp
MAIL_HOST=mail
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=true

# -------------------------
# REDIS / APP SETTINGS
# -------------------------
APP_ENV=production
APP_ENVIRONMENT_ONLY=false
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=redis
REDIS_HOST=cache

# -------------------------
# DATABASE CONNECTION
# -------------------------
DB_CONNECTION=mariadb
DB_HOST=database
DB_PORT=3306

# -------------------------
# MISC
# -------------------------
HASHIDS_LENGTH=8
